<div class="container">
  <h2>Cálculo de Investimento</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="parcelas">Quantidade de Parcelas:</label>
      <input type="number" [(ngModel)]="parcelas" name="parcelas" required>
    </div>
    <div>
      <label for="valor">Valor da Parcela:</label>
      <input type="number" [(ngModel)]="valor" name="valor" required>
    </div>
    <button type="submit">Salvar</button>
  </form>
  <div *ngIf="total !== undefined">
    <h3>Valor Total: {{ total }}</h3>
  </div>
</div>
